@import 'css/jango_variables';

$colorNavigation: $green_fluo;

/* Couleurs  */
/*$couleur_principale: #00ADD0;
$fuchsia:#bd0074;
$fuchsia_darker: darken($fuchsia, 6.5%);
$green_fluo:#7ab800;
$green_fluo_darker: darken($green_fluo, 6.5%);
$grey: #f5f5f5;
$dark_grey: #dadada;*/